:root {
  --bg-color: #6e2bad;
  --border-radius: 7px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#search {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  transition: height 0.5s, background-color 0.5s;
  position: sticky;
  top: 0;
}

#search.collapsed {
  height: 100px;
  background-color: #6e2badd0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  margin: 20px;
}

input {
  width: 800px;
  padding: 10px 15px;
  filter: opacity(80%);
  font-size: 25px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: none;
  outline: none;
}

input:focus {
  outline: 4px solid #ffffff;
  outline-offset: 2px;
}

button {
  background-color: #d5beee;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  font-size: 25px;
  padding: 10px 15px;
  border: none;
  float: right;
}

form button:focus {
  outline: 4px solid #ffffff;
  outline-offset: 2px;
}

form button:hover {
  cursor: pointer;
  background-color: #d0b4ee;
}

#output {
  display: none;
  font-size: 18px;
  line-height: 1.5;
}

#output pre {
  font-family: "Open Sans", sans-serif;
  padding: 25px 0;
  margin: 0;
  text-align: center;
  overflow: scroll;
}

#output pre:nth-child(even) {
  background-color: rgb(226, 211, 255);
}

#output .highlighted {
  background-color: rgb(255, 241, 162);
  padding: 2px 0;
}

#top {
  position: fixed;
  bottom: 25px;
  right: 50px;
  cursor: pointer;
  background-color: transparent;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.2s;
}

#top i {
  transition: color 0.1s;
}

#top i:hover {
  color: #6e2bad;
}

@media screen and (max-width: 900px) {
  input {
    width: 75vw;
  }
}

@media screen and (max-width: 800px) {
  input {
    font-size: 20px;
    width: 70vw;
  }

  button {
    font-size: 20px;
  }

  #output {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  #title {
    font-size: 40px;
  }

  input {
    font-size: 18px;
    width: 72vw;
  }

  button {
    font-size: 18px;
  }

  #top {
    right: 25px;
  }
}
